body {
    font-family: Inter;
    color: #575757;
    background-color: #faffed;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

#top {
    position: relative;
    top: 125px;
    margin-left: 90px;
}

.greeting {
    font-size: 35px;
    transition: all .3s ease-in-out;
}

.greeting:hover {
    color: #ffc0dd;
}

.info {
    margin-bottom: 1px;
}

.social {
    width: 22px;
    height: 22px;
    display: inline;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 8px;
    transition: ease-in-out .3s;
    filter: invert(55%);
}

.social:hover {
    filter: invert(10%);
}

.yt {
    color: #575757;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.yt:hover {
    color: #ff3d3d;
}

.toolbox, .eider, .shitc0ver, .nitroless {
    color: inherit;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

.toolbox:hover {
    color: lightskyblue
}

.eider:hover {
    color: #5865f2;
}

.shitc0ver:hover {
    color: rgba(56, 142, 255, 0.842);
}

.nitroless:hover {
    color: #121212;
}

.pfp {
    float: right;
    margin-right: 130px;
    position: relative;
    bottom: 110px;
    width: 250px;
    height: 250px;
    vertical-align: middle;
    transition: all .3s ease-in-out;
}

#firefox, #notfirefox {
    display: none;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    margin: auto;
    align-content: center;
    text-align: center;
}

.social-desktop {
    text-align: center;
    align-content: center;
    position: relative;
    top: 25px;
}

.social-mobile {
    text-align: center;
    align-content: center;
    position: relative;
    top: 25px;
    display: none;
}

@media screen and (max-width: 900px) {
    .greeting {
        font-size: 30px;
        padding-bottom: 15px;
    }
    #top {
        margin: 5px;
        position: relative;
        top: 30px;
        transform: none;
    }
    body {
        text-align: center;
    }
    
    .pfp {
        display: none;
    }

    .social-desktop {
        display: none;
    }

    .social-mobile {
        display: block;
    }
    .info {
        margin-bottom: 0px;
    }
    .social {
        width: 25px;
        height: 25px;
    }
}
