body {
    font-family: Inter;
    color: white;
    background-color: #121212;
}

.top {
    position: relative;
    top: 190px;
    margin-left: 90px;
}

.greeting {
    color: #ccffff;
    font-size: 35px;
    transition: all .1s ease-in-out;
}

.greeting:hover {
    scale: 1.2;
    color: #ffccff;
}

.info {
    color: #d9d9d9;
    margin-bottom: 1px;
}

.twitter {
    color: #00ccff;
    transition: all .1s ease-in-out;
    text-decoration: none;
    filter: saturate(0%);
    width: 17px;
    height: 17px;
}

.twitter:hover {
    filter: saturate(100%);
}

.discord {
    color: #5865f2;
    transition: all .1s ease-in-out;
    text-decoration: none;
    filter: saturate(0%);
}

.discord:hover {
    filter: saturate(100%);
}

.socialimg {
    width: 20px;
    height: 20px;
    display: inline;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 1px;
}

.toolbox {
    color: #d9d9d9;
    transition: all .1s ease-in-out;
}

.toolbox:hover {
    color: lightskyblue;
}

.yt {
    color: #d9d9d9;
    transition: all .1s ease-in-out;
}

.yt:hover {
    color: #ff3d3d;
}

@media screen and (max-width: 900px) {
    .top {
        margin: 10px;
        position: relative;
        top: 40px;
    }
    body {
        text-align: center;
    }
}
