@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Comfortaa;
    --black: #000000;
    --white: #ffffff;
    --gray: #121212;
}

html {
    scroll-behavior: smooth;
    overflow-x:hidden !important;
}

.inter {
    font-family: Inter;
}

ul {
    list-style: none;
}

li {
    display: list-item;
    box-sizing: border-box;
    border: 0 solid;
}

.link {
    transition: all 0.2s ease-in-out;
    text-decoration: #ffc0cb;
}
.link:hover {
    color: #ffc0cb;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}

.projIcon {
    width: 28px;
    height: 28px;
}

.hoverScale {
    transition: all 0.2s ease-in-out;
}
.hoverScale:hover {
    transform: scale(1.05);
}